
* {
   padding: 0px;
   margin: 0px;
}

body{
   background-color: #F5F5F5;
   font-family: "Dosis", sans-serif;
}

h1, h2 {
   padding: 5px 0px;
}

h2 {
   font-size: 1.25em;
}

#wrap {
   width: 315px;
   padding: 10px 20px;
   /*margin: 0px auto;*/
}

#main {
   white-space: nowrap;
   overflow: hidden;
}

#urlCount {
   float: right;
}

/*current window (quick launch)*/
#rad {
   margin-left: 2px;
}

/*new window (quick launch)*/
#rad2 {
   margin-left: 10px;
}

#notifications {
   /*background-color: #B0FBFF;*/
   /*float: center;*/
   text-align: center;
   /*width: 247px;*/
   margin: 10px 0px;
   font-weight: bolder;
   text-transform: uppercase;
}

#selector {
   margin-bottom: 10px;
}

#about {
   margin-top: 5px;
   float: center;
   font-size: 10px;
   text-align: center;
   font-family: "Times New Roman", serif;
   color: black;
}

/*Naming a new folder*/
#folder_name { 
   border: 1px solid #ADADAD; /* #000; *//* #3e779d; */
   background: #ECF2A5; /* #B0FBFF; */
   color: #000000; 
   font-size: 1em;
   margin-bottom: 20px; 
} 

#listOfTabs{
   padding: 5px 0px;
}

/*div that holds buttons*/
#saveButtons {
   margin-top: 5px;
   padding: 5px 0px 10px 0px;
   /*text-align: center;*/
}

/*div that holds c_buttons*/
#bookmark_buttons {
   /*text-align: center;*/
}

/*(quick launch)*/
#window_options {
   padding: 5px 0px;
}

#default_buttons {
   padding-top: 5px;
}

#more_buttons {
   /*padding: 5px 0px;*/
   padding-bottom: 5px;
}

/*quick launch (actual text)*/
/*#ql {
   padding: 5px 0px;
}*/

#bl {
   padding: 0px 0px 10px 0px;
}

/*Somehow this is affecting every button??*/
.f_button {
   background: #E8E8E8;
   padding: 5px 10px;
   border: solid 1px #f5f5f5;
   color: black;
  /* font-size: 12px;*/
   text-decoration: none;
   vertical-align: middle;
}

.f_button:hover {
   background: #ADADAD;
   color: black;
}

.f_button:active {
   background: #ADADAD;
}
/*END f_button*/

/*FIRST Buttons that appear at top
Save to Bookmark Folder & Copy to Clipboard*/
.button {
   background: #65a9d7;
   padding: 5px 10px;
   border: solid 0px #f5f5f5;
   color: white;
   /*font-size: 12px;*/
   text-decoration: none;
/*   vertical-align: middle;*/
   margin-right: 5px;
}

.button:hover {
   background: #28597a;
   color: #ccc;
}

.button:active {
   background: #1b435e;
}
/*end button*/

/*represent individual bookmark folders in quick launch*/
.b_button {
   width: 275px;
}

/*   +     */
.p_button {
   width: 31px;
}

/*Less/More Bookmarks...*/
.m_button {
   width: 306px;
}

/*new folder, save, cancel*/
.c_button {
   width: 90px;
   margin-bottom: 5px;
   margin-right: 5px;
}

/*Deleting bookmarks from opened folders*/
.x_button {
   background: none;
   margin: 0px 5px;
   border: 0px;
   padding: 2px 4px;
}
.x_button:hover {
   background-color: #ADADAD;
   text-align: center;
}
/*end x_button*/

/*DELETE BOOKMARK FOLDER*/
.d_button {
   width: 306px;
   background-color:#f24537;
   border: solid 1px #f5f5f5;
   display:inline-block;
   color:#ffffff;
   font-size:12px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
}

.d_button:hover {
   background-color:#c62d1f;
}

.d_button:active {
   position:relative;
   top:1px;
}
/*END d_button*/

/*cancel delete*/
.n_button {
   width: 153px;
}

/*confirm delete*/
.y_button {
   width: 153px;
   background-color:#89c403;
   border: solid 1px #f5f5f5;
   display:inline-block;
   color:#ffffff;
   font-size:12px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
}

.y_button:hover {
   background-color:#77a809;
}


/*end y_button*/
