
* {
	background-color: #F5F5F5;
   padding: 0px;
   margin: 0px;
}

body{
   padding: 10px 20px;
   font-family: 'Dosis', sans-serif;
}

#wrap {
   width: 315px;
}

#main {
	white-space: nowrap;
}

#urlCount {
	float: right;
}

#rad2 {
   margin-left: 10px;
}

#notifications {
	background-color: #B0FBFF;
	float: center;
	width: 247px;
   margin-bottom: 5px;
}

#selector {
   margin-bottom: 10px;
}

#about {
   margin-top: 5px;
   float: center;
   font-size: 10px;
   text-align: center;
   font-family: "Times New Roman", serif;
   color: black;
}

#folder_name { 
   border: 1px solid #ADADAD; /* #000; *//* #3e779d; */
   background: #ECF2A5; /* #B0FBFF; */
   color: #000000; 
   font-size: 1.1em;
   margin-bottom: 10px; 
} 

#listOfTabs{
   padding: 5px 0px;
}

#saveButtons {
   padding: 5px 0px 10px 0px;
}

#window_options {
   padding: 5px 0px;
}

#open_section {
   padding: 5px 0px;
}

#ql {
   padding: 5px 0px;
}

#bl {
   padding: 0px 0px 10px 0px;
}

.f_button {
   background: #E8E8E8;
   padding: 5px 10px;
   border: solid 1px #f5f5f5;
   color: black;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
}
.f_button:hover {
   background: #ADADAD;
   color: black;
}
.f_button:active {
   background: #ADADAD;
}

.button {
   background: #65a9d7;
   padding: 5px 10px;
   border: solid 1px #f5f5f5;
   color: white;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
   background: #28597a;
   color: #ccc;
}
.button:active {
   background: #1b435e;
}

.b_button {
   width: 275px;
}

.p_button {
   width: 31px;
}

.m_button {
   width: 306px;
}

.c_button {
   width: 97px;
   margin-bottom: 5px;
   margin-right: 2px;
}

.x_button {
   margin-right: 5px;
   border: 0px;
   padding: 2px 4px;
}
.x_button:hover {
   background-color: #ADADAD;
   text-align: center;
}

.d_button {
   width: 306px;
   background-color:#f24537;
   border: solid 1px #f5f5f5;
   display:inline-block;
   color:#ffffff;
   font-size:12px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
}

.d_button:hover {
   background-color:#c62d1f;
}

.d_button:active {
   position:relative;
   top:1px;
}

.n_button {
   width: 153px;
}

.y_button {
   width: 153px;
   background-color:#89c403;
   border: solid 1px #f5f5f5;
   display:inline-block;
   color:#ffffff;
   font-size:12px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
}

.y_button:hover {
   background-color:#77a809;
}

.y_button:active {
   position:relative;
   top:1px;
}

